@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.App input {
    display: none;
}
.App label,
.App button {
    width: 160px;
    line-height: 38px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 2px -2px #bbb;
    text-transform: uppercase;
    background: #ff8300;
    color: #333;
    border: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.App button {
    background: #333;
    color: #ff8300;
}